@model sports_league.Models.Team

<html>
<head>
    <title>Sports League - Details</title>
</head>
<body>
    <h3>Details</h3>
    <hr />
    Captain: @Html.DisplayFor(model => model.Captain)
    
    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) | @Html.ActionLink("Back to the list", "Index")</p>
</body>
</html>